.project {
    display: grid;
    align-items: center;
    padding: 20px;    
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.project img {
    border: 1px solid black;
    padding: 50px 75px;
}