.section-apresentation {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 135px;    
    gap: 30px;
}

// .section-apresentation p {
//     font-size: 20px;
//     padding-top: 25px;
// }

.text-apresentation {
    flex: 2 1 300px;
    // text-align: justify;
}

.image-apresentation {
    flex: 1 0 160px;    
    text-align: center;
}

