:root {
  font-family: "Nunito", serif;
  line-height: 1.5;
  font-weight: 400;

  color: #e8f1f2;
  background-color: #13293d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}
