* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
  font-family: "Nunito", Arial, Helvetica, sans-serif;;     
}

body {
  background-color: #d7dbe0;
  padding-bottom: 7px;
}

.navegation {          
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.25rem; /* padding: 20px; */
  background-color: #002333;
  color: #DEEFE7;
  position: fixed;
  width: 100%;
  font-size: 1.87rem;
}

.navegation button a {
  text-decoration: none;
  color: #002333;
}

.new-stock-button {
  background-color: #DEEFE7;
  color: #002333;
  width: 7.5rem;
  border: 0.125rem solid #DEEFE7;
  padding: 0.625rem;
  border-radius: 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.new-stock-button:hover {
  background-color: #1a678b;
  color: #DEEFE7;  
  border: 0.125rem solid #DEEFE7;
  transition: 0.4s;
}

section {
  /* border: 3px solid blue; */
  max-width: 75rem; /* max-width: 1200px; */
  margin: 0 auto;  
  padding-top: 7rem; /* padding-top: 80px; */
  padding-left: 0.56rem; /* padding-left: 25px; */
  padding-right: 0.56rem; /* padding-right: 25px; */
}

section p input {
  margin-top: 20px;
}

#form-post-stocks {
  /* display: none; */
  text-align: center;
  padding-bottom: 1rem;
}

#label-stocks {
  font-weight: bold;
}

#label-stocks, #stocks, .input-form {
  font-size: 1.1rem;
}

#stocks {
  text-transform: uppercase;
}

.input-form {
  padding-left: 35px;
  padding-right: 35px;
  border: 2px solid black;
  border-radius: .7rem;
  font-weight: bold;
  cursor: pointer;
}

.input-form:hover {
  background-color: rgba(0, 0, 0, 0.068);
  transition: 0.4s;
  border: 2px solid;
}

.input-tag {
  padding-left: 3.5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.button-form {
  font-size: 1.1rem;
  padding-left: 35px;
  padding-right: 35px;
  border: 2px solid black;
  border-radius: .7rem;
  font-weight: bold;
  cursor: pointer;
}

.button-form a {
  text-decoration: none;
  color: black;
}

.button-form:hover {
  background-color: rgba(0, 0, 0, 0.068);
  transition: 0.4s;
  border: 2px solid;
}

#dollar-value {  
  font-size: medium;
  /* border: 3px solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  text-align: center;
  font-weight: bold;
  gap: 0.3rem;
  margin-bottom: 1rem;
}

div > img {
  width: 60%;
}

ul {
  list-style: none;
  display: flex;  
  justify-content: center;
  flex-wrap: wrap; 
  gap: 0.625rem;
}

li {
  background-color: #edeff1;
  border-radius: 0.3125rem;
  /* cursor: pointer; */
  text-align: center;
  width: 35%;
}

li:hover {
  background-color: #e5e8eb;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.068);
  transition: 0.4s;
}

p a {
  text-decoration: none;
}

p a:hover {
  background-color: #d7dbe0;
  border-radius: 0.3125rem;
  transition: 0.4s;
}

.external-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;  
  padding-left: 0.625rem; 
  padding: 8px;
  /* border: 2px solid black; */
}

.header-div {
  padding-bottom: 1.5625rem;
}

.footer-div {
  padding-top: 1.5625rem;
}

.header-div, .footer-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.stock-info {
  font-weight: bold;
}

#stock-name, #stock-perc {
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 425px) {
  li {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .navegation {
    justify-content: center;
  }

  section {
    padding-top: 9rem;
  }

  #label-stocks, #stocks, #input-submit {
    font-size: .9rem;
  }
}

@media (max-width: 320px) {
  #label-stocks, #stocks, #input-submit {
    font-size: .7rem;
  }
}

/* .Crevasse-1-hex { color: #B4BEC9; }
.Crevasse-2-hex { color: #159A9C; }
.Crevasse-3-hex { color: #002333; }
.Crevasse-4-hex { color: #DEEFE7; }
.Crevasse-5-hex { color: #FFFFFF; }


.Crevasse-1-rgba { color: rgba(179, 189, 200, 1); }
.Crevasse-2-rgba { color: rgba(20, 154, 156, 1); }
.Crevasse-3-rgba { color: rgba(0, 35, 51, 1); }
.Crevasse-4-rgba { color: rgba(221, 239, 230, 1); }
.Crevasse-5-rgba { color: rgba(255, 255, 255, 1); }


.Crevasse-1-hsla { color: hsla(211, 16, 74, 1); }
.Crevasse-2-hsla { color: hsla(180, 76, 34, 1); }
.Crevasse-3-hsla { color: hsla(198, 100, 10, 1); }
.Crevasse-4-hsla { color: hsla(151, 34, 90, 1); }
.Crevasse-5-hsla { color: hsla(0, 0, 100, 1); }  */