.section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  height: 100%;
}

.usuarios {
  flex: 1;
  margin-top: 15px;
  text-align: center;
  background-color: rgba(241, 241, 241, 0.87);
  border-radius: 7px;
  color: rgb(48, 48, 48);
  padding: 15px 70px;
}

.usuarios p {
  font-size: 15px;
}

.usuariosInterno {
  padding: 15px 70px;
  height: 135px;
}

.link a {
  color: rgb(48, 48, 48);
  text-decoration: none;
}

.link a:hover {
  background-color: #13293d;;
  color: rgba(241, 241, 241, 0.87);
  border-radius: 7px;
  transition: 0.5s;
  padding: 2px 15px;
}

.divBotoesLista {
  margin: 10px;
}

div button {
  margin: 10px;
}

@media (max-width: 1024px) {
  .divBotoesLista {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .divBotoesLista {
    margin-top: 20px;
  }
}

@media (max-width: 574px) {
  .divBotoesLista {
    margin-top: 35px;
  }
}

@media (max-width: 425px) {
  .divBotoesLista {
    margin-top: 30px;
  }
}
