$background-color-page: rgb(230, 230, 230);

$background-color-header: rgb(91, 202, 150);
$font-color-header: #fff;

$font-color-text-button: #fff;
$color-border-button: #dddddd;
$color-button-active: rgb(189, 187, 187);

$color-border-table: rgb(189, 187, 187);

