<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/images/favicon_io/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <title>Cotação de Ativos</title>
</head>
<body>
  <nav class="navegation">
    <p><span></span></p>
    <p>Cotação de Ativos</p>    
    <button type="button" class="new-stock-button" onclick="showForm()">Novo ativo</button>    
  </nav>  
  {{{body}}}  

  <script src="/javascript/new-stocks.js"></script>
</body>
</html>