.newAccountForm {
  max-width: 22rem;
  margin: 0 auto;
  padding-top: 7rem;
  padding-left: 0.56rem;
  padding-right: 0.56rem;
}

.input_submit {
  cursor: pointer;
  background-color: #002333;
  color: #fff;
  padding: 7px;
  font-size: 15px;
  border-radius: 5px;
  width: 100%;
}

.input_submit:hover {
  background-color: #15526e;
  color: #deefe7;
  border: 0.125rem solid #deefe7;
  transition: 0.4s;
}
