<section>
  <form action="/stocks/createstocks" id="form-post-stocks" method="post">
    <label for="stocks" id="label-stocks">Ativo</label>
    <input type="text" id="stocks" class="input-tag" name="tagStock" autofocus>  
    <p id="buttons">
      <input type="submit" id="input-submit" class="input-form" value="Gravar">
      <button type="button" class="button-form"><a href="/stocks">Cancelar</a></button>
    </p>      
  </form>
</section>

<script src="/javascript/validate-stock-empty.js"></script>
